.nav-text{
  text-align: center;
  padding: 2px;
  float: none !important;
}
.foto-bruno{
  height: 500px;;
}

.box-shadow{
  box-shadow: 0 1px 7px 0 rgba(0,0,0.01),
              0 1px 4px 0 rgba(0,0,0.01);
}

#bg-img{
  background: url(img/Creative-Derby-Web-Design.png) center center;
  background-size: cover;
  height: 280px;
  border: 1px solid;
}

.altura-card{
  height: 250px;
}

.limiteBotao{
  max-width: 140px;
}
